In [17]:
%%time
list(range(100000))
;

CPU times: user 5.23 ms, sys: 4.32 ms, total: 9.55 ms
Wall time: 19.3 ms

# The `callback` pattern

In [36]:
def suma(a,fn):
    return a + fn() + fn()
    
def generaTres():
    return 3
    
suma(5,generaTres)

11

In [37]:
def saluda(nombre):
    return f"üëãüèª {nombre}"

def saluda2(nombre):
    return f"üòé {nombre}"


def saludaTodos(nombres, fn):
    for n in nombres:
        print(fn(n))

In [39]:
nombres = ["Pepe","Luis","Juan"]
saludaTodos(nombres, saluda2)

üòé Pepe
üòé Luis
üòé Juan

# Reference vs value

In [48]:
a = ["Pepe","Luis","Juan"]
b = a
b.append("Felipe")

In [49]:
print(a,b)

['Pepe', 'Luis', 'Juan', 'Felipe'] ['Pepe', 'Luis', 'Juan', 'Felipe']

In [50]:
print(id(a),id(b))
print(id(a)==id(b))

4598283152 4598283152
True

In [51]:
a = 5
b = a
b += 1

In [52]:
print(a,b)

5 6

In [54]:
print(id(a),id(b))
print(id(a)==id(b))

4561489808 4561489840
False

In [61]:
a = ["Pepe","Luis","Juan"]
b = []
for e in a:
    b.append(e)
b.append("Felipe")

print(a,b)
print(id(a),id(b))
print(id(a)==id(b))

['Pepe', 'Luis', 'Juan'] ['Pepe', 'Luis', 'Juan', 'Felipe']
4609213456 4609190240
False

In [66]:
a = ["Pepe","Luis","Juan"]
b = [*a]
b.append("Felipe")

print(a,b)
print(id(a),id(b))
print(id(a)==id(b))

['Pepe', 'Luis', 'Juan'] ['Pepe', 'Luis', 'Juan', 'Felipe']
4609070656 4609270400
False