# Python Data Types

In [7]:
a = "Pepe"

In [14]:
print(a+str(3)) # type casting

Pepe3

In [16]:
x = "222"
y = 1
print(int(x)+y)

223

In [18]:
int("pepe222")

ValueError: invalid literal for int() with base 10: 'pepe222'

In [22]:
a = "Hola"
b = 25
print(type(a))
print(type(b))

<class 'str'>
<class 'int'>

In [23]:
# Dynamic type
a = 3
print(a, type(a))
a = "Hola"
print(a, type(a))

3 <class 'int'>
Hola <class 'str'>

In [ ]:
#c/c++ -> int a = 4;

In [41]:
# Integer
x = 4
print(type(x))

# Float
x = 4.3
print(type(x))

# Boolean
x = False
print(type(x))

# String
x = "Hola"
print(type(x))

# Lists
x = []
print(type(x))

# Tuples
x = ()
print(type(x))

# Dicts
x = {}
print(type(x))

# Set
x = {()}
print(type(x))

# None
x = None
print(type(x))

# Function
x = print
print(type(x))

# Class
class x: 
    pass
print(type(x))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
<class 'NoneType'>
<class 'builtin_function_or_method'>
<class 'type'>

# Lists

In [42]:
a1 = 1
a2 = 2
a3 = 3
print(a1,a2,a3)

1 2 3

In [56]:
a = [1,2,3]
print(a)

[1, 2, 3]

In [59]:
a = ["hola","que","tal",4, True]
print(a)

['hola', 'que', 'tal', 4, True]

In [46]:
a[1]

'que'

In [1]:
len(a)

NameError: name 'a' is not defined

In [57]:
a=[1,2,3]
print(a)
a.append("Pepe")
print(a)

[1, 2, 3]
[1, 2, 3, 'Pepe']

In [3]:
a = 40000000000005283475290384752039845


# int64 bits = 8 Bytes (8 bits = 1 byte)
# 1024 bytes = 1 KB
# 1024 Kb = 1 Megabyte
# 1024 Mb = 1 Gb

8*1024*1024*1024 / 8

1073741824.0

In [8]:
# Iterar una lista
nombres = ["Pepe","Marta","Ana"]

for n in nombres:
    print(n)

Pepe
Marta
Ana

In [16]:
alumnos = [["Juan","Carlos"],["David","Garcia"],["Ana","Garcia"]]
#print(alumnos[0][1])

for x in alumnos:
    print(x)
    for y in x:
        print(y)

['Juan', 'Carlos']
Juan
Carlos
['David', 'Garcia']
David
Garcia
['Ana', 'Garcia']
Ana
Garcia

In [19]:
a = [1,2,3]
b = [4,5,6]

c = a+b

for e in c:
    print(e, c)

1 [1, 2, 3, 4, 5, 6]
2 [1, 2, 3, 4, 5, 6]
3 [1, 2, 3, 4, 5, 6]
4 [1, 2, 3, 4, 5, 6]
5 [1, 2, 3, 4, 5, 6]
6 [1, 2, 3, 4, 5, 6]

In [27]:
m = ["Hola"]

q = m*5
print(q)

z = "ðŸ”¥".join(q)
print(z)
print(type(z))

['Hola', 'Hola', 'Hola', 'Hola', 'Hola']
HolaðŸ”¥HolaðŸ”¥HolaðŸ”¥HolaðŸ”¥Hola
<class 'str'>

In [30]:
m=[1,2,3,4]
q=[]

for e in m:
    q.append(str(e))

print(m,q)
    
'-'.join(q)

[1, 2, 3, 4] ['1', '2', '3', '4']

'1-2-3-4'

In [35]:
n = ["Marta","Ana","Laura"]

for e in n:
    print(e)

# Index iteration
for i in range(len(n)):
    print(i,n[i])

Marta
Ana
Laura
0 Marta
1 Ana
2 Laura

In [39]:
list(range(5))

[0, 1, 2, 3, 4]

In [47]:
n = ["Marta","Ana","Laura","Pepe"]
print(n[-1])
print(n[-5])

Pepe

IndexError: list index out of range

# Tuples

In [57]:
a = ((1,2),(2,3),(3,4))
print(a, type(a))

((1, 2), (2, 3), (3, 4)) <class 'tuple'>

In [59]:
for e in a:
    print(e[0],e[1])

1 2
2 3
3 4

In [60]:
a = (1,2,3)
a.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [61]:
tuple([1,2,3])

(1, 2, 3)

In [62]:
list((1,2,3))

[1, 2, 3]

In [64]:
a = (1,2,3)
b = list(a)
b.append(5)
b

[1, 2, 3, 5]

In [65]:
len((1,2,3,4,5))

5

# Special ops

In [66]:
nombres = ["Juan","Pepe","Marta"]

for n in nombres:
    print(n)

Juan
Pepe
Marta

In [68]:
list(enumerate(nombres))

[(0, 'Juan'), (1, 'Pepe'), (2, 'Marta')]

In [70]:
for n in enumerate(nombres):
    print(n)

(0, 'Juan')
(1, 'Pepe')
(2, 'Marta')

In [71]:
for n in enumerate(nombres):
    print(n[0],n[1])

0 Juan
1 Pepe
2 Marta

In [75]:
for i,e in enumerate(nombres):
    print(i,e)

0 Juan
1 Pepe
2 Marta

In [84]:
x = [("Juan","Garcia","Perez")]

for nombre, apellido1, apellido2 in x:
    print("nombre", nombre)
    print("apellido1", apellido1)
    print("apellido2", apellido2)

nombre Juan
apellido1 Garcia
apellido2 Perez

In [85]:
nombres = ["Juan","Pepe","Marta"]

for i,e in enumerate(nombres):
    print("ðŸ‘¨")
    if e == "Pepe":
        print(i,e)
    else:
        print("hola",i)

ðŸ‘¨
hola 0
ðŸ‘¨
1 Pepe
ðŸ‘¨
hola 2

In [86]:
nombres = ["Juan","Marta","David"]
apellidos = ["GarcÃ­a", "LÃ³pez","PÃ©rez"]

list(zip(nombres, apellidos))

[('Juan', 'GarcÃ­a'), ('Marta', 'LÃ³pez'), ('David', 'PÃ©rez')]

In [97]:
nombres = ["Juan","Marta","David","Ana"]
apellidos = ["GarcÃ­a", "LÃ³pez","PÃ©rez"]

list(zip(nombres, apellidos))

[('Juan', 'GarcÃ­a'), ('Marta', 'LÃ³pez'), ('David', 'PÃ©rez')]

In [98]:
for e in zip(nombres, apellidos):
    print(e)

('Juan', 'GarcÃ­a')
('Marta', 'LÃ³pez')
('David', 'PÃ©rez')

In [99]:
for n,a in zip(nombres, apellidos):
    print("Nombre:",n,"Apellido:",a)
    print(f"Nombre: {n} Apellido: {a}")

Nombre: Juan Apellido: GarcÃ­a
Nombre: Juan Apellido: GarcÃ­a
Nombre: Marta Apellido: LÃ³pez
Nombre: Marta Apellido: LÃ³pez
Nombre: David Apellido: PÃ©rez
Nombre: David Apellido: PÃ©rez

In [100]:
list(zip(nombres, apellidos,apellidos))

[('Juan', 'GarcÃ­a', 'GarcÃ­a'),
 ('Marta', 'LÃ³pez', 'LÃ³pez'),
 ('David', 'PÃ©rez', 'PÃ©rez')]

# Sets

In [102]:
a = [1,2,3]
b = set(a)

print(a)
print(b)

[1, 2, 3]
{1, 2, 3}

In [103]:
for e in b:
    print(e)

1
2
3

In [104]:
for i,e in enumerate(b):
    print(i,e)

0 1
1 2
2 3

In [116]:
a = [5,1,2,3,4,3,2,1]
b = set(a)
print(a)
print(b)

[5, 1, 2, 3, 4, 3, 2, 1]
{1, 2, 3, 4, 5}

In [113]:
text = "Â¿Hola que tal estÃ¡s? Me llamo Pepe"
set(text)

{' ',
 '?',
 'H',
 'M',
 'P',
 'a',
 'e',
 'l',
 'm',
 'o',
 'p',
 'q',
 's',
 't',
 'u',
 'Â¿',
 'Ã¡'}

In [110]:
n = ["Marta","David","Marta"]
print(len(n),len(set(n)))
print(set(n))

3 2
{'David', 'Marta'}

In [ ]:
# https://docs.python.org/3.7/library/stdtypes.html#set

In [111]:
q = set(["Marta","David"])

if "Marta" in q:
    print("esta marta en el set")
else:
    print("no esta marta")

esta marta en el set

In [115]:
q[0]

TypeError: 'set' object is not subscriptable

In [128]:
a = set([1,2,3])
b = {2,3,4}
b.issubset(a)

False

In [125]:
a = set([1,2,3,4])
a.add(5)
a

{1, 2, 3, 4, 5}

In [134]:
a = {1,2,3}
b = {4,5,6,3}

print(a.union(b))
print(a.intersection(b),b.intersection(a))
print(a.difference(b),b.difference(a))

{1, 2, 3, 4, 5, 6}
{3} {3}
{1, 2} {4, 5, 6}

# Dicts

In [136]:
nombres = ["Pepe","Marta","Ana"]
apellidos = ["Garcia","Lopez","Perez"]
notas = [[5,3],[2,5,9],[3]]

In [137]:
for i, alumno in enumerate(nombres):
    print(i, alumno, apellidos[i], notas[i])

0 Pepe Garcia [5, 3]
1 Marta Lopez [2, 5, 9]
2 Ana Perez [3]

In [140]:
alumno = {
    "nombre":"Pepe",
    "apellido": "Garcia",
    "notas":[5,3]
}

In [143]:
alumno["notas"]

[5, 3]

In [145]:
alumnos = [
    {
        "nombre":"Pepe",
        "apellido": "Garcia",
        "notas":[5,3]
    },
    {
        "nombre":"Marta",
        "apellido": "Lopez",
        "notas":[2,5,9]
    },
]

In [146]:
len(alumnos)

2

In [149]:
for e in alumnos:
    print(e["nombre"],e["apellido"],e["notas"])

Pepe Garcia [5, 3]
Marta Lopez [2, 5, 9]

In [150]:
{
    "nombre":"Luis",
    "apellido":"Luis"
}

{'nombre': 'Luis', 'apellido': 'Luis'}

In [151]:
{
    "nombre":"Luis",
    "nombre":"Garcia"
}

{'nombre': 'Garcia'}

In [152]:
x = {
    "nombre":"Luis",
    "apellido":"Luis"
}

In [153]:
x.keys()

dict_keys(['nombre', 'apellido'])

In [154]:
x.values()

dict_values(['Luis', 'Luis'])

In [155]:
type(x)

dict

In [156]:
x.items()

dict_items([('nombre', 'Luis'), ('apellido', 'Luis')])

In [159]:
alumnos = [
    {
        "nombre":"Pepe",
        "apellidos": {
            "primero":"Garcia",   
            "segundo":"Lopez"
        },
        "notas":[5,3]
    },
    {
        "nombre":"Marta",
        "apellidos":{
            "primero":"Lopez",
            "segundo":"Perez"
        },
        "notas":[2,5,9]
    },
]

In [160]:
for alu in alumnos:
    print(alu["nombre"], alu["apellidos"]["primero"], alu["apellidos"]["segundo"])

Pepe Garcia Lopez
Marta Lopez Perez

# School System

In [5]:
schoolSystem = {
  'schools': [{
      'name': 'Fake School 1',
      'classRooms': [{
        'teacher': {
          'firstName': 'Marcelino',
          'lastName': 'Padberg',
          'age': 25
        },
        'students': [{
            'firstName': 'Aliyah',
            'lastName': 'Schulist',
            'age': 18
          },
          {
            'firstName': 'Cleveland',
            'lastName': 'Towne',
            'age': 28
          }, {
            'firstName': 'Jan',
            'lastName': 'Quitzon',
            'age': 18
          }, {
            'firstName': 'Alaina',
            'lastName': 'Runolfsdottir',
            'age': 18
          },{
            'firstName': 'Saul',
            'lastName': 'Heathcote',
            'age': 20
          },
          {
            'firstName': 'Gerhard',
            'lastName': 'Bergstrom',
            'age': 23
          }
        ]
      }, {
        'teacher': {
          'firstName': 'Edwardo',
          'lastName': 'Schowalter',
          'age': 28
        },
        'students': [{
            'firstName': 'Manley',
            'lastName': 'Doyle',
            'age': 18
          }, {
            'firstName': 'Maximilian',
            'lastName': 'Gleichner',
            'age': 19
          }, {
            'firstName': 'Sid',
            'lastName': 'Rohan',
            'age': 30
          },
          {
            'firstName': 'Catalina',
            'lastName': 'Hilpert',
            'age': 27
          }, {
            'firstName': 'Gerald',
            'lastName': "O'Keefe",
            'age': 26
          }
        ]
      }]
    },
    {
      'name': 'Fake School 2',
      'classRooms': [{
          'teacher': {
            'firstName': 'Lucas',
            'lastName': 'Schroeder',
            'age': 29
          },
          'students': [{
              'firstName': 'Giuseppe',
              'lastName': 'Hegmann',
              'age': 24
            },
            {
              'firstName': 'Jennyfer',
              'lastName': 'Hane',
              'age': 19
            }, {
              'firstName': 'Mikayla',
              'lastName': 'Braun',
              'age': 23
            }, {
              'firstName': 'Rickie',
              'lastName': 'White',
              'age': 22
            }, {
              'firstName': 'Rose',
              'lastName': 'Collins',
              'age': 30
            }
          ]
        },
        {
          'teacher': {
            'firstName': 'Green',
            'lastName': 'Sauer',
            'age': 25
          },
          'students': [{
              'firstName': 'Melany',
              'lastName': 'Welch',
              'age': 25
            }, {
              'firstName': 'Paxton',
              'lastName': 'Corkery',
              'age': 22
            },
            {
              'firstName': 'Nellie',
              'lastName': 'Hauck',
              'age': 26
            }, {
              'firstName': 'Eunice',
              'lastName': 'Hirthe',
              'age': 26
            }, {
              'firstName': 'Aylin',
              'lastName': 'Barrows',
              'age': 26
            }
          ]
        }
      ]
    },
    {
      'name': 'Fake School 3',
      'classRooms': [{
        'teacher': {
          'firstName': 'Nikko',
          'lastName': 'Crist',
          'age': 42
        },
        'students': [{
            'firstName': 'Christop',
            'lastName': 'Hahn',
            'age': 26
          }, {
            'firstName': 'Newell',
            'lastName': 'Kemmer',
            'age': 27
          },
          {
            'firstName': 'Katheryn',
            'lastName': 'Heller',
            'age': 26
          }, {
            'firstName': 'Saul',
            'lastName': 'Heathcote',
            'age': 20
          },
          {
            'firstName': 'Maudie',
            'lastName': 'Haley',
            'age': 30
          }
        ]
      }, {
        'teacher': {
          'firstName': 'Nathanael',
          'lastName': 'Hansson',
          'age': 50
        },
        'students': [{
            'firstName': 'Jensen',
            'lastName': 'Reichel',
            'age': 21
          }, {
            'firstName': 'Lois',
            'lastName': 'Kulas',
            'age': 28
          },
          {
            'firstName': 'Caterina',
            'lastName': 'Wolff',
            'age': 28
          }, {
            'firstName': 'Dahlia',
            'lastName': 'Collier',
            'age': 24
          },
          {
            'firstName': 'Linwood',
            'lastName': 'Langosh',
            'age': 26
          }
        ]
      }]
    }
  ]
}

In [162]:
# 1 - Add a student with the name of Lucille D. Lozano to Fake School 2, 
#     in the first classroom.
newstudent = {
    "firstName": "Lucille D.",
    "lastName": "Lozano",
    "age": "NA"
}
schoolSystem['schools'][1]['classRooms'][0]['students'].append(newstudent)

In [163]:
# 2 - Retrieve the "Fake School 3" object
for e in schoolSystem['schools']:
    if e['name']=='Fake School 3':
        print(e)

{'name': 'Fake School 3', 'classRooms': [{'teacher': {'firstName': 'Nikko', 'lastName': 'Crist', 'age': 42}, 'students': [{'firstName': 'Christop', 'lastName': 'Hahn', 'age': 26}, {'firstName': 'Newell', 'lastName': 'Kemmer', 'age': 27}, {'firstName': 'Katheryn', 'lastName': 'Heller', 'age': 26}, {'firstName': 'Saul', 'lastName': 'Heathcote', 'age': 20}, {'firstName': 'Maudie', 'lastName': 'Haley', 'age': 30}]}, {'teacher': {'firstName': 'Nathanael', 'lastName': 'Hansson', 'age': 50}, 'students': [{'firstName': 'Jensen', 'lastName': 'Reichel', 'age': 21}, {'firstName': 'Lois', 'lastName': 'Kulas', 'age': 28}, {'firstName': 'Caterina', 'lastName': 'Wolff', 'age': 28}, {'firstName': 'Dahlia', 'lastName': 'Collier', 'age': 24}, {'firstName': 'Linwood', 'lastName': 'Langosh', 'age': 26}]}]}

In [164]:
# 3 - Retrieve the teacher with the first name of "Nathanael"
for school in schoolSystem["schools"]:
    for classRooms in school["classRooms"]:
        name = classRooms["teacher"]["firstName"]
        if name =="Nathanael":
            print(classRooms["teacher"])

{'firstName': 'Nathanael', 'lastName': 'Hansson', 'age': 50}

In [7]:
# 4 - Retrieve the student with the first name of "Saul"
def searchName(schoolSystem,name):
    for school in schoolSystem["schools"]:
        for classRooms in school["classRooms"]:
            for student in classRooms["students"]:
                if student["firstName"]==name:
                    print(school["name"],"-", student["firstName"])
                    return

searchName(schoolSystem,"Saul")

Fake School 1 - Saul